---

- name: "Read Ansible SSH key from system"
  ansible.builtin.slurp:
    path: "/home/semaphore/.ssh/id_ed25519"
  register: "ssh_key_ansible"
  no_log: true

- name: "Configure Key Store"
  block:

    - name: "Determine keys"
      changed_when: false
      check_mode: false
      ansible.builtin.uri:
        url: "{{ semaphore_api_url }}/project/{{ semaphore_project_id }}/keys"
        method: GET
        headers:
          Cookie: "{{ cookie }}"
        status_code: 200
      register: "semaphore_keystores"


    - name: "Create SSH key for ansible"
      changed_when: "semaphore_key_ansible_created.status == 204"
      ansible.builtin.uri:
        url: "{{ semaphore_api_url }}/project/{{ semaphore_project_id }}/keys"
        method: POST
        headers:
          Cookie: "{{ cookie }}"
        # project_id must be integer
        body: >-
          {
            "project_id": {{ semaphore_project_id | int }},
            "name": "ansible-ssh-key",
            "type": "ssh",
            "ssh":
            {
              "private_key": {{ ssh_key_ansible.content | b64decode | to_json }},
              "passphrase": "{{ ssh_passphrase }}"
            }
          }
        body_format: json
        status_code: 204
      register: semaphore_key_ansible_created
      when:
        - "semaphore_keystores.json | selectattr('name', 'equalto', 'ansible-ssh-key') | length == 0"
