{
  "postgres": {
     "host": "{{ semaphore_db_host }}:5432",
     "user": "semaphore",
     "pass": "{{ lookup('env', 'DB_PASS') }}",
     "name": "semaphore",
     "options": {
       "sslmode": "require"
     }
  },
  "dialect": "postgres",
  "tmp_path": "/home/semaphore/tmp",
  "cookie_hash": "{{ semaphore_cookie_hash }}",
  "cookie_encryption": "{{ semaphore_cookie_encryption }}",
  "access_key_encryption": "{{ semaphore_access_key_encryption }}"
 }
