[Unit]
Description=Semaphore Requirements Updater

[Service]
# to auto-upgrade python venv with systemd timer
ExecStart=/bin/bash -c 'source /home/semaphore/venv/bin/activate \
                           && pip install --upgrade -r /home/semaphore/requirements.txt \
                           && ansible-galaxy collection install -r /home/semaphore/requirements.yml \
                           && ansible-galaxy role install -r /home/semaphore/requirements.yml'

Environment=LANG="en_US.UTF-8"
Environment=LC_ALL="en_US.UTF-8"

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=semaphore_requirements

[Install]
WantedBy=multi-user.target
