[Unit]
Description=Semaphore container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=25s
WorkingDirectory=/home/semaphore
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStopSec=60
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

