---
docker_users:
  - "{{ ansible_user }}"
docker_install_compose: true
docker_install_compose_plugin: true
server_name: "{{ ansible_fqdn | default(ansible_hostname) }}"
ssh_passphrase: "{{ lookup('env', 'SSH_PASS') }}"
